Meta
doc
inst/doc
.Rproj.user/*
.Rproj.user
.DS_Store
.Rhistory
.RData
corrcoverage.Rproj
corrcoverage/corrcoverage_cache
.travis.yml
/*_cache/
/cache/
.Rbuildignore
/vignette/my-vignette_cache/html
docs/*
*.so
pkgdown/favicon
*.Rhistory
inst/*
^cran-comments.md$
^cran-comments\.md$
R.Rproj
codecov.yml
inst/
_pkgdown.yml