Meta
doc
inst/doc
.Rproj.user/
.DS_Store
.Rhistory
.RData
corrcoverage.Rproj
corrcoverage/corrcoverage_cache
_pkgdown.yml
.travis.yml
/*_cache/
/cache/
.Rbuildignore
/vignette/my-vignette_cache/html
.Rproj.user

