Meta
doc
inst/doc
.Rproj.user/*
.Rproj.user
.DS_Store
.Rhistory
.RData
corrcoverage.Rproj
corrcoverage/corrcoverage_cache
_pkgdown.yml
.travis.yml
/*_cache/
/cache/
.Rbuildignore
/vignette/my-vignette_cache/html
docs/*
*.so
pkgdown/favicon
corrcoverage.Rproj

